.indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    margin: 0;
  }
  
  .indicator.active {
    color: #fff;
    background: #666;
  }
  .drop-shadowx {
    filter: drop-shadow(-2px -1px 12px #ffffff);
    -webkit-filter: drop-shadow(-2px -1px 12px #ffffff);
}